@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --text-primary: #fffce6;
  --text-secondary: #f5b562;
  --text-muted: #a1a1aa;

  --foreground: var(--text-primary);

  --background: oklch(0.147 0.004 49.25);
  --background-gradient: linear-gradient(
    -80deg,
    #090a0f 0%,
    #1b1b1b 35%,
    #2a2c2b 100%
  );

  --card: #18181b;
  --card-foreground: var(--foreground);

  --primary: #f1ba2f;
  --primary-foreground: oklch(0.216 0.006 56.043);

  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: var(--foreground);

  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: var(--text-muted);

  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: var(--foreground);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --radius: 0.625rem;
  --shadow-main: 0 20px 60px rgba(0, 0, 0, 0.5);
  --card-gradient: linear-gradient(to bottom, #2a2c2b 70%, #303231 100%);
}

.dark {
  --text-primary: #fffce6;
  --foreground: var(--text-primary);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    background-color: var(--background);
    background-image: var(--background-gradient);
    background-attachment: fixed;
    background-size: cover;

    color: var(--foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div,
  p {
    color: var(--foreground);
  }
}

@layer utilities {
  .torn-paper {
    filter: url(#torn);
    text-shadow: 0.5px 0 0 rgba(0, 0, 0, 0.8), -0.5px 0 0 rgba(0, 0, 0, 0.8),
      0 0.5px 0 rgba(0, 0, 0, 0), 0 -0.5px 0 rgba(0, 0, 0, 0);
  }
}
